osource "C:/Users/micha/blinky/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/micha/peripheral_status/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/micha/peripheral_uart/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/micha/central_uart/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/micha/adc_sequence/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/micha/spi_flash/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/micha/Documents/GitHub/ncs-inter/v2.9.0-v2.7.0/l5/l5_e1_sol/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/micha/Documents/GitHub/ncs-fund/v2.9.0-v2.7.0/l6/l6_e1_sol/boards/shields/*/Kconfig.defconfig"
osource "C:/Users/micha/peripheral_uart_1/boards/shields/*/Kconfig.defconfig"
osource "C:/ncs/v2.9.0/nrf/boards/shields/*/Kconfig.defconfig"
